[Unit]
Description=Flask App - AI Student Assistant
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/python3 /var/www/html/app.py
Restart=always

[Install]
WantedBy=multi-user.target
